[data-sticky] {
  width: 100%;
}

// To hide map buttons during scroll
.sticky-container {
  z-index: 60;
}

.top-bar {
  .top-bar-title {
    display: none;
  }
  padding-right: 2rem;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  transition: padding .25s ease;
  background-color: $black;
  color: map-get($foundation-palette, secondary);
}

.top-bar-right {
  a {
    font-weight: 500;
    background-color: $black;
    margin: 0;
    padding: 0;
  }
}

.is-stuck .top-bar {
  .top-bar-title {
    display: inline;
  }
  padding: .25rem;
  transition: padding .25s ease;
}

img.center {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}

.tagline {
  text-align: center;
}

.content-container {
  padding-top: .5rem;
  padding-bottom: .5rem;
  .center {
    text-align: center;
  }
  .row {
    padding-top: 5px;
  }
}

.content-container.secondary {
  background-color: #8296A1;
  border-bottom: 3px solid #4d4d4d;
  border-top: 3px solid #4d4d4d;
  a {
    color: darken(#1585cf, 20);
  }
}

.section-title {
  font-family: 'Ubuntu Condensed', sans-serif;
  font-weight: 500;
  font-size: 4rem;
  text-align: center;

}

#map, #pie {
  height: 300px;
  max-height: 300px;
}

.cartodb-map-wrapper {
  z-index: 30 !important;
}

.right {
  text-align: right;
}

.strip {
  margin-top: 1rem;
}

#footer {
  background-color: #8296A1;
  padding-top: 1rem;

  p {
    text-align: center;
    color: white;
    margin: 0;
  }
}

.foot-note {
  font-style: italic;
  font-size: 80%;
  margin: .1rem;
}

#map-name {
  color: dimgray;
}

#cv {

  .cv-title, .cv-section {
    display: inline-block;
    font-family: $header-font-family;
    width: 100%;
  }
  .cv-section {
    font-weight: 600;
    font-size: 1.5rem;
    color: dimgray;

  }
  .cv-title {
    padding-left: 1rem;

  }
  h6 {
    padding-left: 2rem;
    font-style: italic;
  }
  .left {
    float: left;
  }
  .right {
    float: right;
  }
  .cv-desc {
    padding-left: 4rem;
  }
  ul {
    display: inline-block;
    list-style: none;
  }
  li {
    font-size: .8rem;
  }
  p {
    font-size: .8rem;
  }
}
